


.add_faq {
    margin-left: auto;
}
.knowledgebase .icon-redact {
    width: 24px;
    height: 24px;
}
.knowledgebase_button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 54px;
}

.knowledgebase_button span {
    display: none;
}
.knowledgebase_button:hover span {
    display: block;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: #FFFFFF;
    padding: 5px 11px;
    border-radius: 31px;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: -0.24px;
    background: #373737;
    box-shadow: 0px 5.715827465057373px 23.67985725402832px 0px #B2B0D363;
}

.trainer_modal2 .line .field {
    position: relative;
}
.pass_add-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 34px;
}

.task-page_form .line .field textarea {
    width: 100%;
    height: 189px;
    background: #FFFFFF;
    border: 1px solid #7874A3;
    border-radius: 9px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 14px;
    resize: none;
}
.task-page_form .nice-select {
    width: 100%;
    color: #7874A3;
    font-weight: 500;
}
.faq_fast_title {
    margin-top: 0;
}

.uploaded-files_items > * {
    border: 1px solid #D2D2D2;
}
.block_upload label:before {
    display: none;
}
.box__file {
    display: none;
}
.box__input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box.has-advanced-upload .box__icon {
    width: auto;
}
.block_upload label {
    padding-left: 10px;
}
.box.has-advanced-upload {
    outline-offset: 0;
    border: 1px dashed #bbb;
    outline: none;
}
.box {
    padding: 20px 30px;
}




.almanac_items {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 17px;
}
.almanac_items:before {
    position: absolute;
    content: "";
    width: calc(100% + 29px);
    left: -16px;
    bottom: 0;
    background: #C5C5C5;
    height: 1px;
}
.almanac_items > * {
    border-radius: 87px;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565289;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    cursor: pointer;
    flex-shrink: 0;
    background: #BDBBD8;
}
.almanac_item.active {
    background: #0AB511;
    color: #fff; 
    position: relative;
}
.almanac_item span {
    display: none;
}
.almanac_item.active span {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: -1px;
    font-weight: 700;
    border-radius: 50%;
    top: -4px;
    right: 0px;
    z-index: 2;
    background: #BDBBD8;
    color: #565289;
    border: 1px solid #fff;
}
.almanac_item.active:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    top: -4px;
    right: 0px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}
.almanac_item {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.almanac_item.disabled {
    opacity: 0.6;
}
.almanac_item.inactive {
    background: #CC3636;
    color: #fff;
}
.almanac_item.inactive.active {
    background: #0AB511;
    color: #fff;    
}
.almanac_wrap {
    padding: 11px 16px 18px 13px;
    border-radius: 15px;
    background: #fff;
}
.almanac_text {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
}
.almanac .page_title {
    margin-bottom: 23px;
}
.almanac {
    margin-bottom: 30px;
}
.almanac_status {
    display: flex;
}
.almanac_status-item {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: #7A7796;
    display: flex;
    align-items: center;
}
.almanac_status-item span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-right: 7px;
}
.almanac_status-item span.red {
    background: #CC3636;
}
.almanac_status-item span.green {
    background: #0AB511;
}
.almanac_status-item + .almanac_status-item {
    margin-left: 10px;
}



.change-history_wrap {
    padding: 16px;
    border-radius: 15px;
    background: #fff;
}
.change-history_items {
    padding: 12px 12px 18px;
    background: #F3F3FF;
    border-radius: 6px;
}
.changes_item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    position: relative;
}
.changes_item-box:before {
    position: absolute;
    content: "";
    width: calc(100% + 24px);
    height: 1px;
    background: #CECECE;
    left: -12px;
    bottom: 0;
}
.changes_item-text {
    padding-left: 23px;
    position: relative;
}
.changes_item-text:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main_color);
    top: 0;
    left: 0;
}
.changes_item-date {
    padding-left: 23px;
}
.change-history_description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    color: #636363;
}
.change-history_description p span {
    font-weight: 700;
    color: #000;
}
.changes_item-box button {
    font-weight: 500;
    font-size: 12px;
    color: #0085FF;
    border-bottom: 1px dashed #0085FF;
    margin-left: 15px;
    white-space: nowrap;
}
.change-history_link {
    font-weight: 500;
    font-size: 12px;
    color: #0085FF;
    border-bottom: 1px dashed #0085FF;  
    text-decoration: none;
    margin: 17px 0;
    display: inline-block;
}
.change-history_items.hide {
    display: none;
}
.change-history_items.hide.active {
    display: block;
    margin-top: 15px;
}


.simulator-questions,
.adding-question {
    margin-top: 30px;
    padding: 20px 18px 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;   
}
.simulator-questions_title {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}
.simulator-questions_title.mb0 {
    margin-bottom: 0;
}
.simulator-questions_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #636363;
}
.simulator-questions_btns a {
    margin-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #64698F;
    padding: 12px;
    background: #ECEBFF;
    border-radius: 7px;
    text-decoration: none;
    display: block;
}
.simulator-questions_list ul{
    list-style: none;
}
.simulator-questions_list ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #CFCDEE;
    border-radius: 18px;
    padding: 18px 12px 12px 18px;
}
.simulator-questions_list-btns button {
    border-radius: 48px;
    border: 1px solid #CFCDEE;
    background: #F6F5FF;
    color: #64698F;
    font-family: "Ubuntu";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px 12px;
    margin-left: 8px;
}
.simulator-questions_list ul li + li{
    margin-top: 17px;
}
.simulator-questions_label .icon12 {
    width: 12px;
    height: 11px;
    flex-shrink: 0;
    margin-right: 5px;
}
.simulator-questions_list ul li .icon{
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    margin-right: 15px;
}
.simulator-questions_list ul li .icon13 {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    margin-right: 15px;
}
.simulator-questions_wrapper-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 19px;
    margin-bottom: 11px;
}
.simulator-questions_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    gap: 3px;
    height: 21px;
    background: linear-gradient(67.84deg, #682D8C -1.82%, #EB1E79 106.59%);
    border-radius: 27px;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    margin-left: 7px;
    flex-shrink: 0;
}
.simulator-questions_wrapper {
    width: 95%;
}
.simulator-questions .handle_box {
    display: flex;
    align-items: center;
    width: calc(100% - 400px);
    margin-bottom: 0px;
}
.simulator-questions_wrapper-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #636363;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.simulator-questions_list ul li {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.simulator-questions_list .audio_message {
    display: flex;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 216px;
}
.simulator-questions_list .audio_message .btn {
    color: #fff;
    display: flex;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--main_color);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.simulator-questions_list .audio_message .btn .icon {
    color: #fff;
    display: block;
    width: 11px;
    height: 15px;
    margin-left: 2px;
}
.simulator-questions_link .audio_message .btn .icon {
    color: var(--main_color);
}
.simulator-questions_link .audio_message .btn .icon + .icon,
.simulator-questions_link .audio_message .btn.active .icon {
    display: none;
    margin-left: 0;
}
.simulator-questions_link .audio_message .btn.active .icon + .icon {
    display: block;
}
.simulator-questions_link .audio_message .audio_wave {
    overflow: hidden;
    width: 250px;
    max-width: 100%;
    margin-top: -16px;
    margin-bottom: -17px;
}
.simulator-questions_link .audio_message .duration {
    color: #061058;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    opacity: .75;
}
.simulator-questions_link .audio_message .btn {
    color: var(--main_color);
    background: #fff;
}
.simulator-questions_link .audio_message .duration {
    color: #fff;
}
.simulator-questions_link .audio_media .media-text.media-current-time {
    display: none;
}
.simulator-questions_link .audio_media .media-control.media-play {
    margin-right: 0;
}
.simulator-questions_link .audio_media .media-toolbar {
    border-radius: 54px;
    background: #ECEBFF;
    padding: 4px 9px;
}
.simulator-questions_link .audio_media .media-text {
    color: #7270A7;
    font-size: 12px;
    line-height: 14px;
    margin-left: 4px;
    font-weight: 700;
}
.simulator-questions_link .audio_media .media-symbol {
    height: 10px;
    width: 10px;
    flex-shrink: 0;
} 
.simulator-questions_link .audio_media .media-control.media-play {
    width: 23px;
    height: 23px;
}
.simulator-questions_list-btns {
    margin-left: 20px;
}
.simulator-questions_link .audio_media .media-slider {
    height: 2em;
    padding: 0.625em 0.5em;
    margin: 0 5px;
}
.simulator-questions_list .video_message {
    border-radius: 54px;
    background: #ECEBFF;
    padding: 7px 9px;
    max-width: 216px;
}
.simulator-questions_list .video_message button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    color: #7270A7;
}

.simulator-questions_list ul li .handle_box.dissabled {
    opacity: 0.5;
}
.simulator-questions_list ul li button.dissabled {
    opacity: 0.5;
    pointer-events: none;
}
.simulator-questions_bottom-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.simulator-questions_bottom-btns button {
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}
.simulator-questions_bottom-btns button:nth-child(1) {
    color: #524F8E;
    background: #CECCF7;
    margin-right: 12px;
}
.simulator-questions_bottom-btns button:nth-child(2) {
    color: #fff;
    background: var(--main_color);
}

.simulator-questions_text {
    margin-bottom: 20px;
}
.simulator-questions_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-bottom: -12px;
}
.simulator-questions_items > * {
    margin-left: 12px;
    margin-bottom: 12px;
    width: calc(100%/2 - 12px);
    padding: 20px 12px 12px 20px;
    border-radius: 18px;
    border: 1px solid #CFCDEE;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.simulator-questions_item-info {
    width: calc(100% - 150px);
}
.simulator-questions_item-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 19px;
    margin-bottom: 8px;
    color: #1c1c1c;
}
.simulator-questions_item-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 1.3;
    margin-bottom: 6px;
    color: #636363;    
}
.simulator-questions_item-link {
    display: block;
    margin-top: auto;
    text-decoration: none;
    color: #64698F;
    padding: 8px 12px;
    font-size: 10px;
    font-weight: 500; 
    border-radius: 48px; 
    border: 1px solid #CFCDEE;
    background: #F6F5FF;
}


.setting-questions_labels {
    margin-top: 30px;
}
.setting-questions_label {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
    padding: 9px;
    border-radius: 8px;
}
.setting-questions_label + .setting-questions_label {
    margin-top: 20px;
}
.setting-questions_label.green {
    background: #5EBA33;
}
.setting-questions_label .icon {
    width: 21px;
    height: 21px;
}
.setting-questions_label.red {
    background: #AF1A1A;
}

.adding-question_label {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #7874A3;   
}
.adding-question .simulator-questions_title {
    margin-bottom: 10px;
}
.adding-question .tabs_container {
    padding: 0;
    background: #FFFFFF;
    border-radius: 0px;
    margin-top: 7px;
}
.adding-question .tabs_container .tabs button {
    padding: 7px 14px 7px 28px;
    border-radius: 39px;
    background: #E7E5FE;
    color: #605CA9;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    opacity: 1;
    margin-right: 9px;
}
.adding-question .tabs_container .tabs button:before {
    width: 13px;
    height: 13px;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: #fff;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.adding-question .tabs_container .tabs button.active:after {
    width: 9px;
    height: 9px;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: var(--main_color);
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.adding-question .task-page_form {
    padding: 0;
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 0px;
}
.adding-question_links {
    display: flex;
    margin-bottom: 25px;
}
.adding-question_btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #7674A9;
    margin-left: 12px;
}
.adding-question_btn .icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 7px;
}
.adding-question_hide {
    display: none;
}
.adding-question_btn .icon {
    transform: rotate(0deg);
}
.adding-question_btn.active .icon {
    display: block;
    transform: rotate(90deg);
}

.adding-question .add_audio {
    display: flex;
    flex-direction: column;
    padding: 0 80px 50px;
    align-items: center;
}
.adding-question .add_audio input {
    display: none;
}
.adding-question .add_audio .start_btn {
    color: #d11a1a;
    position: relative;
    z-index: 3;
    display: flex;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    cursor: pointer;
    transition: color .2s linear;
    text-decoration: none;
    border-radius: 50%;
    background: #e9eaf8;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
.adding-question .add_audio .start_btn:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    content: '';
    transition: .2s linear;
    opacity: 0;
    border-radius: inherit;
    background: #d11a1a;
}
.adding-question .add_audio .start_btn .icon {
    display: block;
    width: 20px;
    height: 36px;
}
.adding-question .add_audio input:checked ~ .start_btn:before {
    width: 44px;
    height: 44px;
    animation: shadow-expansion .9s ease-in-out infinite alternate;
    opacity: 1;
    z-index: 999;
}
.adding-question .task-page_form .add_audio label:after {
    display: none;
}
.adding-question .task-page_form .add_audio label:before {
    border: none;
}
.adding-question .add_audio {
    border: 1px solid #D7D7D7;
    border-radius: 12px;
    padding: 25px;
}
.adding-question .add_audio .exp {
    font-size: 12px;
    line-height: 130%;
    margin-top: 10px;
}
.adding-question_content {
    margin-bottom: 20px;
}
.adding-question .audio-notes_btn2 {
    margin-left: 0;
    margin-right: 10px;
}
.adding-question .audio_media .media-time {
    background: none;
}
.adding-question .task-page_form button {
    margin-left: 0;
}


@keyframes shadow-expansion {
    from
    {
        box-shadow: 0 0 0 5px #d11a1a;
    }
    to
    {
        box-shadow: 0 0 0 0 #d11a1a;
    }
}


.adding-question_content .audio-notes_btn2 a {
    text-align: end;
    text-decoration: none;
    color: #64698F;
    font-weight: 500;
    font-size: 12px;
}

.adding-question_content-btn {
    text-align: end;
    padding: 12px;
    background: #ECEBFF;
    margin-top: 15px;    
    border-radius: 7px;    
}
.adding-question_content-btn a {
    text-decoration: none;
    color: #64698F;
    font-weight: 500;
    font-size: 12px;
}
.adding-question_content-btn.mra {
    margin-right: auto;
    display: block;
    width: 115px;
    text-align: start;
    text-decoration: none;
    color: #64698F;
    font-weight: 500;
    font-size: 12px;
}
.adding-question_content-btn.mla a,
.adding-question_content-btn.mra a {
    text-decoration: none;
    color: #64698F;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.adding-question_content-btn.mla {
    margin-left: auto;
    margin-right: 0;
    width: 82px;
    text-decoration: none;
    color: #64698F;
    font-weight: 500;
    font-size: 12px;
}
.adding-question_content .video_link {
    display: block;
    position: relative;
    z-index: 2;
    box-shadow: 0px 9.37693px 32.3078px rgba(0, 0, 0, 0.03);
    width: 305px;
}
.adding-question_content .video_link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.adding-question_content .video_link .icon {
    width: 66px;
    height: 66px;
    padding:21px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #fff;
}
.adding-question .task-page_label span {
    color: var(--main_color);
    font-weight: 700;
}
.adding-question .task-page_form .line.df {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.adding-question_top-text {
    text-align: end;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.3px;
    color: #7874A3;
}
.adding-question_bottom {
    position: relative;
    padding-top: 27px;
    margin-top: 25px;
}
.adding-question_bottom:before {
    background: #C9C9C9;
    position: absolute;
    content: "";
    width: calc(100% + 36px);
    height: 1px;
    left: -18px;
    top: 0;
}
.adding-question_bottom:before {
    background: #C9C9C9;
    position: absolute;
    content: "";
    width: calc(100% + 36px);
    height: 1px;
    left: -18px;
    top: 0;
}
.simulator-questions_bottom-btns:before {
    background: #C9C9C9;
    position: absolute;
    content: "";
    width: calc(100% + 36px);
    height: 1px;
    left: -18px;
    top: 0;
}
.adding-question .simulator-questions_bottom-btns {
    padding-top: 25px;
    position: relative;
}
.adding-question .task-page_form .line .field textarea:not(.select2-search__field) {
    height: 89px;
}


@media (max-width: 479px) {
    .knowledgebase .accordion_item .head {
        flex-wrap: nowrap;
    }
    .knowledgebase .accordion_item .head .title {
        padding-right: 0;
        width: calc(100% - 45px);       
    }
    .title_faq,
    .faq_fast_title {
        font-size: 20px;
    }
    .changes_item-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .changes_item-box button {
        margin-left: 0;
        margin-top: 15px;
    }

}